@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');

:root{
    --fonte01: 'Nunito', sans-serif;
    --fonte02: 'Roboto', sans-serif;
}

::selection{
  background-color: #7c7cff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  
div.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
form {
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
  }
  
label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
  }
    
label .label-text {
    color: black;
    cursor: text;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
  }
  
label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  }
    
label input:focus {
    max-width: 100%;
    width: 400px;
  }
    
label input:focus + .label-text {
    color: #2C85F4;
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
    
label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
    
button {
    background: transparent;
    color: black;
    border: 2px solid;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
button:hover, button:focus {
    background-color: #2C85F4;
    color: white;
  }
  
.container a{
    color: #1B1B1B;
    text-decoration: none;
}

.opcoes{
    display: flex;
    flex-direction: column;
}

.opcoes a{
    margin-top: 25px;
    text-align: start;
}